MAIN_ADMIN_NAME=Faheem Siddiqi
MAIN_ADMIN_DESIGNATION=IT Administrator
ADMIN_EMAIL=admin@kgm.com
ADMIN_PASSWORD=replace-with-a-strong-password

APP_BASE_URL=http://localhost:3000
ADMIN_MAIL_HOST=
ADMIN_MAIL_PORT=587
ADMIN_MAIL_SECURE=false
ADMIN_MAIL_USER=
ADMIN_MAIL_PASSWORD=
ADMIN_MAIL_FROM=
ADMIN_MAIL_TEST_TO=
CANDIDATE_APPLICATION_ADMIN_EMAILS=faheem@gmail.com,ali@yahoo.com

MONGODB_URI= connection string for your MongoDB database, e.g., mongodb+srv://username:
MONGODB_DB=kgm_hiring
DEV_MODE=true
